:root {
  /* --variable-name: variableValue */
  --radical-red: #ff0a54ff;
  --french-rose: #ff477eff;
  --davys-grey: #495057ff;
  --onyx: #343a40ff;
  --eerie-black: #212529ff;
}

* {
  padding: 0;
  margin: 0;
  font-family: "Source Sans Pro", sans-serif;
  box-sizing: border-box;
}

/* the navbar  */
.nav-container {
  background-color: var(--onyx);
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  border: solid 1px var(--radical-red);
}

/* these are the links within the navbar */
.link {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin: 10px;
  padding: 10px 20px;
  font-size: 25px;
  font-family: "Source Sans Pro", sans-serif;
  color: var(--french-rose);
}

.link:hover {
  color: #fff;
}
.nav,
a {
  text-decoration: none;
}

/* section about me  */

#about {
  display: flex;
  flex-direction: row;
}

#about,
.main {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
}
#about-me {
  padding: 30px;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: var(--davys-grey);
  height: 300px;
  border: solid 1px var(--radical-red);
}
.main-container {
  background-color: black;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  height: 800px;
}

/* my photo */
.center {
  padding: 30px;
  display: block;
  margin: 5px;
  width: 20%;
  border-radius: 50%;
}

.heading {
  color: #fff;
  font-size: 40px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

h1,
p {
  color: #fff;
}
span {
  color: var(--french-rose);
}

#projects {
  border: solid 2px rebeccapurple;
  object-fit: cover;
  width: fit-content;
  display: flex;
  flex-direction: column;
  align-items: center;
}

#contact,
.icon {
  align-items: center;
}

.footer {
  height: 60px;
  background-color: var(--davys-grey);
  color: #fff;
  text-align: center;
}
