:root {
  /* --variable-name: variableValue */
  --radical-red: #ff0a54ff;
  --french-rose: #ff477eff;
  --davys-grey: #495057ff;
  --onyx: #343a40ff;
  --eerie-black: #212529ff;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
/* added for a smooth scrolling behavior */
/* html {
  scroll-behavior: smooth;
} */

body {
  margin: 0;
}
/* the navbar  */

.nav-container {
  background-color: var(--davys-grey);
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin: 0px;
  padding: 20px 20px;
  border: solid 1px var(--radical-red);
}

/* these are the links within the navbar */
.link {
  padding: 30px 40px;
  font-size: 25px;
  text-decoration: none;
  font-family: "Source Sans Pro", sans-serif;
  color: var(--french-rose);
}

/* the  effect for the links */
.link:hover {
  color: #fff;
}

.header {
  position: fixed;
  height: 86px;
  z-index: 10;
  width: 100vw;
}
/* to remove the bullets within the navbar */
.header .nav-container ul {
  list-style-type: none;
}

.main-container {
  background-color: var(--eerie-black);
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  height: 500px;

  /* margin-top: 86px; */
}

/* the styling for the main content */
#about,
.main {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
}

/* the styling for the about me section */
#about-me {
  background-color: var(--french-rose);
  height: 220px;
  border: solid 1px var(--radical-red);
  text-align: center;
  padding: 20px;
  /* margin: 0; */
}

#about-me,
h1 {
  font-size: 25px;
  padding: 10px;
}

.card-about-me h1 {
  margin: 50px;
  padding: auto;
  font-size: 30px;
  font-family: "Source Sans Pro", sans-serif;
}

/* my photo */
.center {
  padding: 70px;
  margin: 30px;
  width: 20%;
  border-radius: 50%;
}

/* class of the content about my name  */
.heading {
  color: #fff;
  font-size: 30px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

span {
  color: var(--french-rose);
}

#main-project .project-main-container {
  display: flex;
  flex-direction: row;
  /* align-items: center;
  justify-content: center; */
  justify-content: center;
  margin: 2rem;
}
/* flex-wrap: wrap;
 

  /* #projects,
.project-container-all,
.project-card {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  margin: 20px;
  padding: 5px;
}   */

#projects,
.project-container-all {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  margin: 20px;
  padding: 5px;
}

.card-body-container h3 p {
  flex-direction: row;
  justify-content: center;
  flex-wrap: wrap;
}

.project-container-all .project-card .project-card-image {
  display: flex;
  flex-direction: row;
  justify-content: center;
  flex-wrap: wrap;
}

.project-card-image img {
  width: 200px;
  height: 300px;
  object-fit: contain;
  /* display: flex;
  flex-direction: row; */
  flex-wrap: wrap;
  align-items: center;
  background-color: aqua;
  padding: 5px;
  border: solid 2px var(--radical-red);
  border-radius: 30px;
}

.project-card-image:hover {
  transform: scale(1.1);
  transition: 0.2s ease-in-out;
}

#contact {
  height: 90px;
  text-align: center;
}

.icon ul {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.icon ul li {
  position: relative;
  display: block;
  height: 6px;
  width: 60px;
  font-size: 30px;
  line-height: 50px;
  border-radius: 50%;
  margin: 0 15px;
}

#main-project,
h2 {
  text-align: center;
  padding: 10px;
}

.footer {
  text-align: center;
  background-color: var(--davys-grey);
  padding: 10px;
  margin: 0;
}
.footer h2 {
  font-size: 20px;
  color: #fff;
  letter-spacing: 2px;
}

@media screen and (max-width: 768px) {
  #about,
  #about-me,
  #contact,
  .project-container {
    flex-direction: column;
    align-items: center;
  }

  .header,
  .main-container,
  .main,
  .nav-container {
    flex-direction: column;
    align-items: center;
  }

  /* .nav-container {
    margin: 0px;
    padding: 0px;
  } */
}

.fa-github,
.fa-linkedin,
.fa-envelope {
  color: var(--radical-red);
}
